{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "global": false
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [],
  "settings": {},
  // "ignorePatterns": ["**/test/*.spec.ts"],
  "rules": {
    "no-console": "error"
  }
}
